<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Index of {{ path }}</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    table {
      width: 80%;
      margin: 0 auto;
    }
    td, footer {
      text-align: center;
    }
    footer {
      border-top: 1px solid black;
    }
  </style>
</head>
<body>
  <header>
    <h1>Index of {{ path }}</h1>
  </header>
  <table>
    <thead>
      <tr>
        <th>mode</th>
        <th>name</th>
        <th>last modified</th>
        <th>size</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr>
        <td>{{ file.mode }}</td>
        <td><a href="{{ file.name }}">{{ file.name }}</a></td>
        <td>{{ file.last_modified }}</td>
        <td>{{ file.size }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <footer>
    <p>Powered by <a href="https://github.com/aspschn/lpm-archive">lpm-archive</a> 0.0.2</p>
  </footer>
</body>
</html>
